<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:name=".VioletNoteApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".view.AppHostActivity"
                android:exported="true"
                android:theme="@style/MainAppNavTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.PassDataHostActivity"
                android:exported="true"
                android:label="@string/title_activity_pass_data_host"
                android:parentActivityName=".view.AppHostActivity"
                android:theme="@style/MainAppNavTheme"/>
        <activity
                android:name="com.microsoft.identity.client.BrowserTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--
                    Add in your scheme/host from registered redirect URI
                    note that the leading "/" is required for android:path
                -->
                <data
                        android:host="com.romanpulov.violetnote"
                        android:path="/pkFHBjmk5yNkPHiCqIVwIffqv54="
                        android:scheme="msauth"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.BasicNoteActivity"
                android:label="@string/title_activity_basic_note"
                android:parentActivityName=".view.AppHostActivity"
                android:theme="@style/ToolBarTheme"/>
        <activity
                android:name=".view.BasicNoteEditActivity"
                android:label="@string/title_activity_basic_note_add"
                android:parentActivityName=".view.BasicNoteActivity"
                android:theme="@style/EditTheme"/>
        <activity
                android:name=".view.BasicNoteCheckedItemActivity"
                android:label="@string/title_activity_basic_note_checked_item"
                android:parentActivityName=".view.BasicNoteActivity"
                android:theme="@style/ToolBarTheme"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".view.BasicNoteNamedItemActivity"
                android:label="@string/title_activity_basic_note_named_item"
                android:parentActivityName=".view.BasicNoteActivity"
                android:theme="@style/ToolBarTheme"/>
        <activity
                android:name=".view.BasicNoteValueActivity"
                android:label="@string/title_activity_basic_note_value"
                android:parentActivityName=".view.BasicNoteCheckedItemActivity"
                android:theme="@style/MainAppTheme"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".view.BasicHEventCOItemActivity"
                android:label="@string/title_activity_basic_history_event_co_item"
                android:parentActivityName=".view.BasicNoteCheckedItemActivity"
                android:theme="@style/ToolBarTheme"/>
        <activity
                android:name=".view.BasicHEventNamedItemActivity"
                android:label="@string/title_activity_basic_history_event_named_item"
                android:parentActivityName=".view.BasicNoteNamedItemActivity"
                android:theme="@style/ToolBarTheme"/> <!-- for OneDrive, check if it is still needed -->
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>
    </application>

</manifest>